@model TutumAdminAPI.Models.VideoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Слизал с Metanit  https://metanit.com/sharp/articles/mvc/16.php
}

<h1>Публикация видео</h1>
<hr />

<div>
    <div>
        <p>Прогресс отправки будет отображаться на полоске прогресса, но также будет небольшая задержка в несколько секунд. Видео появится в списке только по завершению процесса обработки (длительность задержки зависит от размера видео).</p><br/>
        <video id="VideoPlayer" controls autoplay/><br/>
    </div>
    <div>
        <input type="file" name="Выбрать файл" id="uploadFile" accept="video/*" onchange="document.getElementById('VideoPlayer').src = window.URL.createObjectURL(this.files[0])"/><br />
        <button id="submit">Загрузить</button>
        <progress id="UploadProgress" value="0" max="100"/><br />
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#submit').on('click', function (e) {
            e.preventDefault();
            var files = document.getElementById('uploadFile').files;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
 
                    $.ajax({
                        xhr: function() {
                            var xhr = new window.XMLHttpRequest();
                            xhr.upload.addEventListener("progress", function(evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = (evt.loaded / evt.total) * 100;
                                    // Place upload progress bar visibility code here
                                    $('#UploadProgress').val(percentComplete);
                                }
                            }, false);
                            return xhr;
                        },
                        type: "POST",
                        url: '@Url.Action("CreateBigFile", "AdminVideos")',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            alert("Отправка завершена успешно! Сейчас видео обрабатывается. Можете вернуться к списку.");
                        },
                        error: function (xhr, status, p3) {
                            alert("Произошла ошибка при отправке: "+xhr.responseText);
                        }
                    });
                } else {
                    alert("Браузер не поддерживает загрузку файлов HTML5!");
                }
            }
        });
    </script>
}
